node_modules/
logs/
*.log
*.pyc

fall_detection_frontend/node_modules/
fall_detection_backend/fall_screenshots/
fall_detection_backend/static/fall_images
FallDetection-Backend-master/src/main/resources/application.yaml

